# Developed By Paysys Labs

# Nats - Consumer
STARTUP_TYPE=nats
NODE_ENV=dev
MAX_CPU=4
SERVER_URL=nats:4222
FUNCTION_NAME=messageRelayService
CONSUMER_STREAM=interdiction-service
JSON_PAYLOAD=true

# Nats - Producer
DESTINATION_TYPE=@tazama-lf/nats-relay-plugin
DESTINATION_URL=tls://nats-server:4223
PRODUCER_STREAM=destination.subject
NATS_TLS_CA=./nats-certs/nats-server.crt

# Uncomment this for RabbitMQ Destination
# DESTINATION_TYPE=@tazama-lf/rabbitmq-relay-plugin
# DESTINATION_URL=amqp://rabbitmq
# PRODUCER_STREAM=messageRelayService

# DESTINATION_TRANSPORT_TYPE=@tazama-lf/kafka-relay-plugin
# DESTINATION_TRANSPORT_URL=localhost:9092
# PRODUCER_STREAM=destination.subject
# KAFKA_CLIENT_ID=relay-client
# KAFKA_TLS=false
# KAFKA_TLS_CA=./kafka-certs/ca-cert.pem

# Uncomment this for Rest Destination
# DESTINATION_TRANSPORT_TYPE=@tazama-lf/rest-relay-plugin
# DESTINATION_TRANSPORT_URL=http://localhost:3002/relay
# MAX_SOCKETS=50
# AUTH_HEALTH_URL=http://localhost:3020/health
# AUTH_TOKEN_URL=http://localhost:3020/login
# AUTH_USERNAME=your-username
# AUTH_PASSWORD=your-password

# Uncomment this for Google Cloud Bucket Destination
# DESTINATION_TYPE=google
# GOOGLE_BUCKET_NAME=bucket_name
# GOOGLE_APPLICATION_CREDENTIALS="serviceAccount.json"
# DESTINATION_URL=default
# PRODUCER_STREAM=default

APM_ACTIVE=false
APM_SERVICE_NAME=relay-service
APM_URL=http://localhost:8200/
APM_SECRET_TOKEN=

LOGSTASH_LEVEL='info'
SIDECAR_HOST=0.0.0.0:15000 # Comment for dev environment