# Developed By Paysys Labs

# Nats - Consumer
STARTUP_TYPE=nats
NODE_ENV=dev
MAX_CPU=4
SERVER_URL=nats:4222
FUNCTION_NAME=messageRelayService
CONSUMER_STREAM=interdiction-service

# Nats - Producer
DESTINATION_TYPE=nats
DESTINATION_URL=nats://nats-server2:4223
PRODUCER_STREAM=destination.subject

# Uncomment this for RabbitMQ Destination
# DESTINATION_TYPE=rabbitmq
# DESTINATION_URL=amqp://rabbitmq
# QUEUE=messageRelayService
# MAX_SOCKETS=2500

# DESTINATION_TYPE=rest
# DESTINATION_URL=http://localhost:3000/api
# JSON_PAYLOAD=true

SUBSCRIBERS=500  # Recommended setting